<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansCJKkr-Bold.otf</string>
		<string>NotoSansCJKkr-Medium.otf</string>
		<string>NotoSansCJKkr-Regular.otf</string>
		<string>Spoqa Han Sans Neo Bold.otf</string>
		<string>Spoqa Han Sans Neo Regular.otf</string>
		<string>Spoqa Han Sans Neo Medium.otf</string>
	</array>
</dict>
</plist>
