<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900084768088-b2bb5tkqu6ar55j05fn07aacaept7ahi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900084768088-b2bb5tkqu6ar55j05fn07aacaept7ahi</string>
	<key>API_KEY</key>
	<string>AIzaSyCgjeaGYq8lcEYim6AfrBDs0rKCOPvcnVs</string>
	<key>GCM_SENDER_ID</key>
	<string>900084768088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YJC.NADA-iOS-forRelease</string>
	<key>PROJECT_ID</key>
	<string>nada-7f9c8</string>
	<key>STORAGE_BUCKET</key>
	<string>nada-7f9c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900084768088:ios:a52d55f364646a8931592d</string>
</dict>
</plist>