<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750439700308-oam5ig2o1rmrpg91r7p491rj5h5mrrfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750439700308-oam5ig2o1rmrpg91r7p491rj5h5mrrfg</string>
	<key>API_KEY</key>
	<string>AIzaSyATSoJ0-Ygl29Ba2ua0_3-fQG6wAgnY7Hc</string>
	<key>GCM_SENDER_ID</key>
	<string>750439700308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YJC.NADA-iOS-forRelease</string>
	<key>PROJECT_ID</key>
	<string>nada-49bf8</string>
	<key>STORAGE_BUCKET</key>
	<string>nada-49bf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750439700308:ios:f643da30295cb764389ac1</string>
</dict>
</plist>